@import
	url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap")
	;

*, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	width: 500px;
	height: 780px;
	margin: 50px auto;
	padding: 20px;
	/*background:
		url("http://kkoma.net/web/product/big/201908/7b4b84e97175177414b6df250fdc4aab.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0.7;*/
	border-radius: 20px;
	box-shadow: 0px 0px 14px 0px;
}

.container h1 { 
	text-align : center;
	font-family: "Nanum Gothic", sans-serif;
	text-align: center;
}

form>.ui-widget {
	margin-bottom: 20px;
}

#category.ui-button, #startDate.ui-button {
	background: none;
	width: 100%;
	text-align: left;
}

fieldset {
	margin-bottom: 20px;
}

#progress {
	position: relative;
	height: 32px;
	border-radius: 10px;
	background-color: white;
	font-family: "Nanum Gothic", sans-serif;
}

.pct {
	position: absolute;
	width: 100%;
	text-align: center;
	line-height: 32px;
	font-size: 15px;
	color: #444;
	font-weight: bold;
}

fieldset {
	padding: 5px;
}

fieldset>legend {
	padding: 10px;
	font-size: 1.4rem; font-weight : bold;
	font-family: "Nanum Gothic", sans-serif;
	font-weight: bold;
}

fieldset>label {
	margin: 5px auto;
}

#sub_mit, #goback {
	margin-top: 10px;
	font-size: 1.5rem;
	border: none;
	border-radius: 5px;
	width: 120px;
	font-weight: bold;
	font-family: "Nanum Gothic", sans-serif;
}

#sub_mit:hover {
	color: white;
	background-color: #0fbcf9;
}

#goback:hover {
	color: white;
	background-color: #222f3e;
}

#service_price h4 {
	font-size: 1.5rem;
	font-weight: bold; margin-top : 10px;
	margin-bottom: 10px;
	font-family: "Nanum Gothic", sans-serif;
	margin-top: 10px;
}

select {
	position: relative;
	width: 195px;
	padding: 0.6em 0.5em;
	border-radius: 8px;
	background-color: white;
	color: black;
	font-weight: bold;
	font-family: Georgia, serif;
	transition: 0.5s;
}

select option {
	font-size: 1.3rem;
}

select:hover {
	box-shadow: inset 0 0 0 0px #48dbfb, 0 0 0 2px #48dbfb;
}

select option {
	font-size: 1.2rem;
	font-family: "Nanum Gothic", sans-serif;
	font-weight: bold;
}

::selection {
	color: red;
}

#time_label {
	margin-top: 30px;
}

input[type="time"] {
	width: 195px;
	height: 35px;
	border-radius: 8px;
	font-size: 1rem;
	transition: 0.5s;
	position: relative;
}

input:hover {
	box-shadow: inset 0 0 0 0px #48dbfb, 0 0 0 2px #48dbfb;
}
/* Hour */
input[type="time"]::-webkit-datetime-edit-hour-field {
	border-radius: 15%;
	padding: 19px 13px;
}
/* Minute */
input[type="time"]::-webkit-datetime-edit-minute-field {
	border-radius: 15%;
	padding: 19px 13px;
}
/* AM/PM */
input[type="time"]::-webkit-datetime-edit-ampm-field {
	border-radius: 15%;
	padding: 19px 13px;
}
/* 'X' button for resetting/clearing time */
input[type="time"]::-webkit-clear-button {
	display: none;
}

.ui-datepicker {
	font-size: 1rem;
}

.ui-checkboxradio-label {
	font-size: 1.2rem;
	padding: 7px;
	font-weight: bold;
	font-family: "Nanum Gothic", sans-serif;
}

.ui-selectmenu-text {
	font-size: 1rem;
	font-weight: bold;
	font-family: "Nanum Gothic", sans-serif;
}

.ui-widget label {
	display: block;
	margin-top: 5px; margin-bottom : 10px;
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.ui-selectmenu-button.ui-button {
	width: 43%;
	height: 40px;
	border-radius: 8px;
}

.ui-datepicker-calendar>tbody td:first-child a {
	color: #f00;
}

.ui-datepicker-calendar>tbody td:last-child a {
	color: blue;
}

.ui-progressbar-value {
	background-color: #0fbcf9;
}

.ui-datepicker-trigger {
	width: 40px;
	position: relative;
	top: 12px;
	left: 12px;
}

#startDate.ui-corner-all.ui-button.hasDatepicker {
	width: 250px;
	background-color: white;
	
}
#designer{
	display:flex;
	justify-content:center;
	align-items:center;
}
#designer span{
	font-size:1.5rem;
}