@import
	url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Serif+KR&family=Poppins:wght@200;300;400;500&display=swap")
	;

.container {
	margin: 10px auto;
	display: flex;
	width: 100%;
	height : 720px;
	min-width: 1024px;
	align-items: center;
	justify-content: center;
	background: #e0eafc;
	background: -webkit-linear-gradient(to right, #cfdef3, #e0eafc);
	background: linear-gradient(to right, #6299e5, #e0eafc);
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	padding: 10px;
}
/*파일업로드 박스*/
.upload-box {
	flex: 1;
	margin-right: 10px;
	width: 30%;
	height : 50%;
	padding: 15px;
	background: #fff;
	border-radius: 20px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.upload-box button {
	border: none;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	font-weight: bold;
	font-size: 1.2rem;
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.upload-box button>i {
	font-size: 2rem;
	color: #1683ff;
	margin-left: 10px;
}
/*사진 박스*/
.img-box {
	flex:2;
	min-width: 685px; /*최소크기*/
	margin-right: 10px;
	width: 100%;
	height: 100%;
	padding: 20px;
	background: #fff;
	border-radius: 20px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.img-area {
	width : 100%;
	height:75%;
	border: 3px dashed #e0eafc;
	margin: 15px auto;
	padding: 15px;
	flex-wrap: wrap;
	overflow:hidden;
}
.img-area::-webkit-scrollbar {
	width: 1px;
}
.add-btn{
	display : flex;
	justify-content:center;
	align-items:center;
	width:100px;
	border:none;
	border-radius:10px;
	background-color:#1683ff;
	opacity:0.8;
	color:white;
	padding:3px;
	font-weight:bold;
	transition: all 1s;
}

#styleBox {
	display: flex;
	width:100%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#styleBox>img {
	flex-basis: 30%;
	cursor: pointer;
}

.img-area img {
	width: 200px;
	height: 180px;
	margin: 7px 5px 5px 5px;
	border-radius:10px;
}

.filearea {
	border: 3px dashed #e0eafc;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 10px auto;
}

h3 {
	margin-bottom: 20px;
	font-weight: 500;
	text-align: center;
}

.filearea .icon {
	font-size: 50px;
	color: #1683ff;
}

.filearea .header {
	font-size: 20px;
	font-weight: 500;
	color: #34495e;
	display: flex;
	justify-content: center;
	height: 24px;
}

.filearea .support {
	font-size: 12px;
	color: grey;
	margin: 5px 0 3px 0;
}

.filearea.active {
	border: 2px solid #1683ff;
}

.filearea img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.radio-box {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.select-btn {
	flex-grow: 1;
	border-radius: 10px;
	border: none;
	font-size: 1.2rem;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	margin: 5px auto;
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	cursor: pointer;
	background-color: #1683ff;
	opacity:0.8;
	color: white;
}

.select-btn>input {
	padding: 5px;
}

.form-radio {
	display: flex;
	margin: 3px auto;
	justify-content: center;
	align-items: center;
}

.ilabel {
	margin-left: 5px;
	margin-right: 5px;
}

.hidden-btn {
	width: 20px;
	height: 20px;
	background-color: red;
}